* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
    background-color: transparent;
}

main {
    width: auto;
    height: auto;
    background-color: transparent;
}

.okey {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: seagreen;
    color: white;
    width: 40%;
    margin: 5px 35% 5px 35%;
}

.error {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: rgb(63, 14, 7);
    color: white;
    width: 40%;
    margin: 5px 35% 5px 35%;
}

.existe {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: rgb(167, 125, 10);
    color: white;
    width: 40%;
    margin: 5px 35% 5px 35%;
}