#formulario {
    border: 4px solid rgba(3, 82, 58, 0.74);
    background-color: rgba(136, 157, 167, 0.02);
    height: 70%;
    position: absolute;
    transition: all 2s;
    width: 60%;
    padding-top: 15px;
    padding-right: -25px;
    margin-left: 18%!important;
}

#formulario label {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    width: 900px!important;
}