.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    background-color: rgba(24, 26, 27, 0.7);
    color: white;
    justify-content: space-around;
}

input {
    background-color: silver;
    width: 100%;
}

.tabButton {
    background-color: #06070ed7;
    color: white;
    width: 200px;
    height: auto;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    box-shadow: rgba(93, 173, 226, 0.7) 3px 3px 2px, rgba(133, 193, 233, 0.7) 4px 4px 3px, rgba(93, 173, 226, 0.7) 5px 5px 4px, rgba(23, 32, 42, 1) 13px 13px 15px;
}