.labelform {
    font-size: 19px !important;
    width: 25px;
    font-weight: 200;
    color: rgba(243, 243, 243, 0.744)!important;
    font-family: italic;
}

input {
    font-size: 1em;
    width: auto;
}